<%- include ("../partials/header") %> <!--Call header from partial file -->
<div class="insideWrapper">
	<div class="pageTitle">
		<h4 class="detailsTitle">Patient Details</h4>
	</div>
	<div class="patientDetailsCard">
		<%results.forEach(function(results){ %>
			<div class="patientInnerDetailsCard1">
			
					<h4 class="patientDetailsTxt1">Name: <%= results.FName %> <%= results.LName %> </h4>
					<h6 class="patientDetailsTxt1">Age:<%= results.Age%></h6>
					<h6 class="patientDetailsTxt1">Gender: <%= results.Gender %> </h6>
					<h6 class="patientDetailsTxt1">DOB: <%= results.DOB.toDateString() %> </h6>
					<h6 class="patientDetailsTxt1">Allergies: <%= results.Allergies %> </h6>
				
			</div>
			<div class="patientInnerDetailsCard2">
				<h4 class="patientDetailsTxt1">Ward:</h4>
				<h6 class="patientDetailsTxt2"><%=results.Ward_Name%></h6>
				<h4 class="patientDetailsTxt1">Bed No: </h4>
				<h6 class="patientDetailsTxt2"><%=results.Bed%></h6>
				<h4 class="patientDetailsTxt1">Risk: </h4>
				<h6 class="patientDetailsTxt2"><%=results.Risk%></h6>
				<h4 class="patientDetailsTxt1">Doctor: </h4>
				<h6 class="patientDetailsTxt2"><%=results.Doctor%></h6>
				<h4 class="patientDetailsTxt1">Diagnosis: </h4>
				<h6 class="patientDetailsTxt2"><%=results.Diagnosis%></h6>
				<h4 class="patientDetailsTxt1">Treatment: </h4>
				<h6 class="patientDetailsTxt2"><%=results.Treatment%></h6>
			</div>
			<div class="patientBtnBox">
				<button class="patientBtn" onclick="window.location.href='/vitals/<%= results.P_ID %>';">Vitals</button>
				<button class="patientBtn" onclick="window.location.href='/prn/<%= results.P_ID %>';">PRN</button>
			</div>
		<% }); %>
	</div>
	

</div>

<%- include ("../partials/footer") %>  <!--Call footer from partial file -->


